/* ===== FUENTES ===== */
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Comic+Neue:wght@400;700&display=swap');

/* ===== VARIABLES ===== */

:root {
    --rojo: #e63946;
    --rosa: #ff4d6d;
    --naranja: #F08E2D;
    --violeta: #8E2C9F;
    --bordo: #5a0f2e;
    --negro: #000;
    --blanco: #fff;
    --purpura: #19050f;
    --fucsia: #D62369;
    --cian: #137775;
    --rojoOxido: #7A192A;
    --gris: #dff2f2;


}

/* ===== RESET ===== */
body {
    margin: 0;
    font-family: 'Comic Neue', cursive;
    background-color: var(--bordo);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


/*INDEX*/

/* ================= HEADER ================= */
.index-header {
    background-color: var(--purpura);
    border-bottom: 4px solid var(--negro);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.index-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
}

/* LOGO */
.index-logo {
    height: 100px;
}

/* NAV */
.index-nav-list {
    display: flex;
    align-items: center;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

.index-nav-list a {
    text-decoration: none;
    background-color: var(--rosa);
    color: var(--blanco);
    padding: 8px 12px;
    border: 3px solid var(--negro);
    box-shadow: 3px 3px 0px var(--negro);
    font-weight: bold;
    transition: 0.1s;
}

.index-nav-list a:hover,
.index-nav-list a:active {
    transform: translate(3px, 3px);
    box-shadow: 0px 0px 0px var(--negro);
}

/* ================= MAIN ================= */

.index-main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-grow: 1;
}

/* TARJETA */
.index-contenido {
    background-color: var(--blanco);
    border: 4px solid var(--negro);
    box-shadow: 6px 6px 0px var(--negro);
    padding: 20px;
    width: 100%;
    max-width: 600px;
    text-align: center;
}

/* TITULO */
.index-titulo {
    font-family: 'Bangers', cursive;
    font-size: 2.5rem;
    letter-spacing: 2px;
    color: var(--rosa);
    text-shadow: 2px 2px 0px var(--negro);
}

/* ================= BOTÓN ================= */

.index-integrantes-btn {
    display: block;
    margin: 15px auto;
    background-color: var(--naranja);
    border: 3px solid var(--negro);
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 3px 3px 0px var(--negro);
}

.index-integrantes-btn:active {
    transform: translate(3px, 3px);
    box-shadow: 0px 0px 0px var(--negro);
}

/* ================= LISTA ================= */

.index-integrantes {
    display: none;
    list-style: none;
    padding: 0;
}

.index-integrantes.activo {
    display: block;
}

.index-integrantes li {
    margin: 10px 0;
}

.index-integrantes a {
    display: inline-block;
    padding: 10px;
    background-color: var(--violeta);
    color: var(--blanco);
    text-decoration: none;
    border: 3px solid var(--negro);
    box-shadow: 3px 3px 0px var(--negro);
    font-weight: bold;
}

.index-integrantes a:hover,
.index-integrantes a:active {
    transform: translate(3px, 3px);
    box-shadow: 0px 0px 0px var(--negro);
}

/* DESCRIPCIÓN */
.index-descripcion {
    margin-top: 20px;
    line-height: 1.5;
}

/* ================= FOOTER ================= */

.index-footer {
    background-color: var(--purpura);
    border-top: 4px solid var(--negro);
    text-align: center;
    padding: 10px;
    color: var(--blanco);
    margin-top: auto;
}

/*media*/
@media (min-width: 400px) {

    .index-titulo {
        font-size: 2.8rem;
    }

    .index-contenido {
        padding: 25px;
    }
}


@media (min-width: 900px) {

    /* HEADER EN FILA */
    .index-nav {
        flex-direction: row;
        justify-content: space-between;
    }

    .index-logo img {
        height: 100px;
    }

    /* NAV AL LADO */
    .index-nav-list {
        margin-top: 0;
    }

    /* BOTÓN DESAPARECE */
    .index-integrantes-btn {
        display: none;
    }

    /* LISTA HORIZONTAL */
    .index-integrantes {
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    .index-integrantes li {
        margin: 0;
    }

    .index-contenido {
        max-width: 800px;
    }
}

@media (min-width: 1200px) {

    .index-titulo {
        font-size: 3.5rem;
    }

    .index-contenido {
        max-width: 1000px;
    }

    .index-logo img {
        height: 120px;
    }
}

/* ================= MARCELA ================= */

.marcela-main {
    display: flex;
    justify-content: center;
    padding: 30px 15px;
}

/* CARD */
.marcela-card {
    background-color: var(--blanco);
    border: 4px solid var(--negro);
    box-shadow: 6px 6px 0px var(--negro);
    padding: 20px;
    width: 100%;
    max-width: 600px;
    text-align: center;
}

/* FOTO */
.marcela-img {
    width: 140px;
    border: 3px solid var(--negro);
    box-shadow: 3px 3px 0px var(--negro);
    margin-bottom: 10px;
}

/* NOMBRE */
.marcela-nombre {
    font-family: 'Bangers', cursive;
    font-size: 2.2rem;
    letter-spacing: 2px;
    color: var(--rosa);
    text-shadow: 2px 2px 0px var(--negro);
}

/* LISTAS */
.marcela-list {
    list-style: none;
    padding: 0;
}

.marcela-list li {
    margin: 8px 0;
    background-color: var(--violeta);
    color: white;
    padding: 8px;
    border: 3px solid var(--negro);
    box-shadow: 3px 3px 0px var(--negro);
}

.marcela-comic {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    /* Espacio entre viñetas */
    background-color: #000;
    /* Fondo negro para el "carril" */
    padding: 10px;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    margin-bottom: 10%;
}

.panel {
    background-color: var(--negro);
    border: 4px solid var(--negro);
    overflow: hidden;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;

}

.panel1 {
    padding-top: 30px;
    grid-column: span 2;
    grid-row: span 1;
}

.panel2 {
    grid-row: span 1;
}

.panel3 {
    grid-column: span 1;
    grid-row: span 2;
}

.panel4 {
    padding-top: 20px;
    grid-column: span 2;
    grid-row: span 2;
}

.marcela-img-viñeta {
    width: 100%;
    padding-right: 5px;

}

.marcela-pelicula {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

}

.marcela-card-pelicula {
    background-color: var(--rosa);
    font-family: 'Bangers', cursive;
    font-size: x-large;
    position: relative;
    width: 80%;
    border: 3px solid var(--negro);
    box-shadow: 3px 3px 0px var(--negro);
    border-radius: 10%;
}

.marcela-tooltip {
    font-family: 'Comic Neue', cursive;
    font-size: small;
    visibility: hidden;
    position: absolute;
    background-color: var(--naranja);
    color: var(--negro);
    width: 100%;
    padding: 20px;
    border: 2px solid var(--cian);
    border-radius: 10%;
    top: 125%;
    /* Posición superior */
    left: 50%;
    transform: translateX(-50%);
    opacity: 20;
    transition: opacity 0.3s;
}

.marcela-card-pelicula:hover .marcela-tooltip {
    visibility: visible;
    opacity: 1;
}

.marcela-card-disco {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.marcela-img-disco {
    width: 100%;
    max-width: 200px;
    height: auto;

}

/* BOTÓN */
.marcela-btn {
    margin-top: 15px;
    background-color: var(--naranja);
    border: 3px solid var(--negro);
    padding: 10px;
    cursor: pointer;
    box-shadow: 3px 3px 0px var(--negro);
    font-size: large;
}

.marcela-opcion-btn {
    margin-top: 15px;
    background-color: var(--cian);
    font-size: medium;
    color: var(--blanco);
    border: 2px solid var(--negro);
    padding: 10px;
    cursor: help
}

.marcela-desafio p {
    font-size: large;
}

/* ================= RESPONSIVE MARCELA ================= */

@media (min-width: 400px) {
    .marcela-card {
        max-width: 550px;
    }

    .marcela-nombre {
        font-size: 2rem;
    }
}

@media (min-width: 900px) {

    .marcela-card {
        max-width: 700px;
    }

    .marcela-img {
        width: 160px;
    }
}

@media (min-width: 1200px) {

    .marcela-card {
        max-width: 900px;
    }

    .marcela-nombre {
        font-size: 3rem;
    }
}

/* ===== BITÁCORA ===== */

.bitacora-main {
    display: flex;
    justify-content: center;
    padding: 30px 15px;
}

.bitacora-contenido {
    background-color: var(--blanco);
    border: 4px solid var(--negro);
    box-shadow: 6px 6px 0px var(--negro);
    padding: 15px;
    width: 100%;
    max-width: 600px;
    text-align: center;
}

.bitacora-contenido h1 {
    font-family: 'Bangers', cursive;
    font-size: 2.2rem;
    letter-spacing: 2px;
    color: var(--rosa);
    text-shadow: 2px 2px 0px var(--negro);
}

.bitacora-timeline {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    padding: 10px 0;
    text-align: left;
}

.bitacora-timeline::before {
    content: '';
    position: absolute;
    left: 20px;
    top: 0;
    bottom: 0;
    width: 4px;
    background: var(--negro);
}

.bitacora-timeline-item {
    position: relative;
    margin-bottom: 30px;
    padding-left: 50px;
}

.bitacora-timeline-item::before {
    content: '';
    position: absolute;
    left: 10px;
    top: 15px;
    width: 16px;
    height: 16px;
    background: var(--rosa);
    border: 4px solid var(--negro);
    border-radius: 50%;
}

.bitacora-timeline-content {
    background: var(--gris);
    padding: 15px;
    border-radius: 8px;
    border: 3px solid var(--negro);
    box-shadow: 4px 4px 0px var(--negro);
}

.bitacora-timeline-content h2 {
    margin-top: 0;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
}

.bitacora-toggle-btn {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #000;
}

/* ================= RESPONSIVE BITÁCORA ================= */

@media (min-width: 600px) {
    .bitacora-contenido {
        padding: 30px;
        max-width: 800px;
    }

    .bitacora-timeline {
        padding: 20px;
    }

    .bitacora-timeline::before {
        left: 40px;
    }

    .bitacora-timeline-item {
        padding-left: 90px;
        margin-bottom: 40px;
    }

    .bitacora-timeline-item::before {
        left: 28px;
        width: 20px;
        height: 20px;
        top: 20px;
    }

    .bitacora-timeline-content {
        padding: 25px;
    }

    .bitacora-timeline-content h2 {
        font-size: 1.5rem;
    }

    .bitacora-toggle-btn {
        font-size: 1.8rem;
    }
}